*.log
app/.DS_Store
app/.env
app/.env.backup
app/.env.production
app/.phpactor.json
app/.phpunit.result.cache
app/.fleet
app/.idea
app/.nova
app/.phpunit.cache
app/.vscode
app/.zed
app/auth.json
app/node_modules
app/public/build
app/public/hot
app/public/storage
app/storage/*.key
app/storage/pail
app/vendor
app/Homestead.json
app/Homestead.yaml
app/Thumbs.db



web/logs
*.log
web/npm-debug.log*
web/yarn-debug.log*
web/yarn-error.log*
web/pnpm-debug.log*
web/lerna-debug.log*

web/node_modules
web/dist
web/dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
